<div class="star">
    <fa-icon [icon]="faStar"></fa-icon>
</div>
<h2>How did we do?</h2>
<p>Olease let us know how we did with your support request. All feedback is appreciated to help us improve our offering!
</p>
<div class="nums">
    <ul>
        <li (click)="oneClicked()">
            <div class="one">1</div>
        </li>
        <li (click)="twoClicked()">
            <div class="two">2</div>
        </li>
        <li (click)="threeClicked()">
            <div class="three">3</div>
        </li>
        <li (click)="fourClicked()">
            <div class="four">4</div>
        </li>
        <li (click)="fiveClicked()">
            <div class="five">5</div>
        </li>
    </ul>
</div>
<a href="" class="submit" routerLink="/thanks-component" routerLinkActive="active">SUBMIT</a>