:host{
    padding: 30px;
    background-color: var(--color3);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 325px;
    height: 270px;
}

img {
    width: 120px;
    
}

p:first-of-type{
    color: orange;
    background-color: rgb(57, 67, 78);
    border-radius: 20px;
    padding: 10px;
    padding-inline: 20px;
}

h2 {
    color: white;
    margin: 0;
}

p:last-of-type{
    color: white;
    text-align: center;
}